.express{clear:both; overflow: hidden;margin-top: 6%;}
.list-item{font-size:15px; display: block;background-color:#fff;color:#666;margin-top:10px;line-height:36px;padding-top:4px;padding-bottom:3.4000000000000004px;position: relative;}
.list-item li{padding-left:30px;width: 100%;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow:elipsis;overflow: hidden;}
.item-num{background:url(../images/icon16.png) no-repeat 10px 6px;background-size:15px;}
.item-name{background:url(../images/icon17.png) no-repeat 10px 6px;background-size:15px;}
.item-phone{background:url(../images/icon18.png) no-repeat 10px 6px;background-size:15px;}
.item-address{background:url(../images/icon19.png) no-repeat 10px 8px;background-size:15px;}
.item-time{background:url(../images/icon21.png) no-repeat 10px 10px;background-size:15px;padding-left: 30px;}
.mui-table-view{ 
				/*line-height: 40px;*/
				font-size: 15px;
				background-color: transparent;
				list-style: none;
				/*margin-top: 40px;*/
			}
#feedlist .list-item ul  {
	list-style-type: none;
	text-decoration: none;
	border: none;
	/*background-color: red;*/
	padding-left: 10px;
	
}
.mui-table-view a{display: block;}
.history a{position:absolute;right:0.2rem;top:0.15rem;width: 3em;font-size: 18px;display: inline-block;color: #fff;}
