.mui-segmented-control .mui-control-item.mui-active{
	color: white;
	background-color: #e66629;
}

.mui-segmented-control .mui-control-item {
	line-height: 38px;
	display: table-cell;
	overflow: hidden;
	width: 1%;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #e66629;
	border-color: #e66629;
	border-left: 1px solid #e66629;
}

body,html{
	height: 100%;
	background-color: #efeff4;
}

.mui-table-view-cell>a{
	font-size: 14px;
	padding: 5px 5px 10px 63px;
}

.mui-table-view-cell>div{
	font-size: 14px;
}

.mui-table-view-cell label{
	font-weight: bold;
}

.header_img{
	width: 1.2rem;
	height: 1.2rem;
	float: right;
	border-radius:50%;
	margin-right: 30px;
	
}
.input-row-suffix input{
	width: 65%;
	margin-right: 10px;
	/*height: 40px;*/
	margin-bottom: 2px;
	border: 0;
	text-align: right;
	float: right;
}

.input-row input{
	width: 78%;
	margin-right: 10px;
	/*height: 40px;*/
	margin-bottom: 2px;
	border: 0;
	text-align: right;
	float: right;
}

.input-row-long input{
	width: 100%;
	margin-right: 10px;
	/*height: 40px;*/
	margin-bottom: 2px;
	border: 0;
	text-align: right;
	float: right;
}

.input-row-suffix .suffix{
	float: right;
	color: #929292;
}

.input_li_suffix{
	padding-right: 10px !important;
	padding: 0px 10px 0 15px;
}

.input_li{
	padding-right: 0 !important;
	padding: 0px 0 0 15px;
}

.radio_li{
	padding-right: 10px !important;
	padding: 5px 10px 5px 15px;
}

.select_li{
	/*line-height: 0.7rem;*/
}



.select_li input{
	width: 70%;
	height: 40px;
	margin-bottom: 0;
	border: 0;
	text-align: right;
	float: right;
	right: 0;
}

.select_li a{
	padding-top:10px !important;
	padding-bottom: 10px !important;
}

li{
	font-size: 14px;
	line-height: 0.7rem;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
	position: initial;
	top: 4px;
	display: inline-block;
	width: 28px;
	height: 26px;
	border: 0;
	outline: 0!important;
	background-color: transparent;
	-webkit-appearance: none;
}

.mui-checkbox label, .mui-radio label {
	display: inline-block;
	float: none;
	width: 50%;
}

.ul_interval{
	margin-bottom: 20px;
}

.add_btn button{
	width:85%; 
	height: 0.7rem;
	color:#06c003;
	font-size: 0.32rem;
	background-color: transparent; 
	text-align: center;
	border-radius: 0.1rem;
	margin: 0 0.2rem 0.2rem 0;
	border: 1px solid #06c003;
}

.add_btn{
	text-align: center;
}

.btnDelete{
	float: right;
	margin: 10px;
	border-radius:50%;
	color:#06c003;
	border: 1px solid #06c003;
}
.div_bottom{
	margin-bottom: 0rem;
}
.mui-table-view-cell{border-bottom:1px solid #c8c7cc; margin: 0 15px; padding: 5px 0;}
.mui-table-view-chevron 
.mui-table-view-cell>a:not(.mui-btn){margin:-11px 0px;}
.mui-table-view-cell:after{height:0;}
.mui-table-view-chevron .mui-table-view-cell {
padding-right: 10px;
}
.mui-navigate-right:after, .mui-push-right:after {
right: 5px;
content: '\e583';
}