.input-row-suffix input{
	width: 60%;
	margin-right: 10px;
	margin-bottom: 2px;
	border: 0;
	float: right;
	text-align: right;
}

.input-row input{
	font-size: 0.25rem;
	width: 75%;
	margin-right: 10px;
	margin-bottom:0;
	border: 0;
	text-align: right;
	float: right;
	
}

.input-row-suffix .suffix{
	font-size: 0.25rem;
	float: right;
	color: #929292;
	padding-right: 0.5rem;
}

.input_li_suffix{
	height: 1rem;
	padding-right: 10px !important;
	padding: 10px 10px 0 15px;
}

.input_li{
	padding-right: 0 !important;
	padding: 10px 0 6px 15px;
}

.mui-table-view-cell label{
	font-size: 0.28rem;
	font-weight: bold;
}

.select_li{
	line-height: 1rem;
}


.select_li input{
	font-size: 0.25rem;
	width: 60%;
	padding: 18px 0 0 0;
	margin-bottom: 0;
	border: 0;
	text-align: right;
	float: right;
}

.select_li a{
	padding-top:0 !important;
	padding-bottom: 0 !important;
}

li{
	font-size: 0.28rem;
	line-height: 0.7rem;
	
}
.mui-table-view-cell{border-bottom:1px solid #c8c7cc; margin: 0 15px; padding: 11px 0;}
.mui-table-view-chevron 
.mui-table-view-cell>a:not(.mui-btn){margin:-11px 0px;}
.mui-table-view-cell:after{height:0;}
.time input{
	font-size: 0.25rem;
	width: 30%;
	padding: 0 0 0 5px;
	border: 0;
	margin-bottom: 0;
	text-align: center;
	float: right;
	
}
.time span{
	font-size: 0.25rem;
	width: 5%;
	/*padding: 0;*/
	border: 0;
	text-align: center;
	float: right ;
	display: block;
	
}
.time label{
	font-size: 0.28rem;
	font-weight: bold;
}
.radio_li{
	line-height: 1rem;
	padding-right: 10px !important;
	padding: 5px 10px 5px 0px;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
	position: initial;
	top: 4px;
	display: inline-block;
	width: 28px;
	height: 26px;
	border: 0;
	outline: 0!important;
	background-color: transparent;
	-webkit-appearance: none;
}


