.work_context_title{
	font-size:0.28rem; display: block;color:#666;margin-top: 1rem;margin-left: 0.4rem;
}
.work_context{min-height: 3rem;width: 90%;margin: 0.5rem 0.3rem auto;}

.work_div{}
.work_div label{font-size:0.26rem; display: block;color:#666;margin-top: 0.1rem;margin-left: 0.3rem;margin-right: 0.3rem;}
